/* catalog-page */
@mixin catalog-button {
  color: $color-black;
  background-color: #eeeeee;

  &:hover {
    background-color: #dfdfdf;
  }
  &:active {
    background-color: #d5d5d5;
    color: rgba($color-black, 0.4);
  }
}


.catalog-header {
  width: $site-width;
  height: 238px;
  padding: 0 20px;
  margin: 0 auto;

  display: flex;
  justify-content: center;
  align-items: center;
}

.catalog-page {
  display: flex;
  padding: 62px 20px 60px;

  &__filters {
    width: 260px;
    margin-right: 140px;
  }
}

.catalog-filters {
  
  &__header {
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 22px;
  }
  &__header--first {
    margin-bottom: 58px;
  }

  &__prices {
    margin-bottom: 62px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }
  &__price-range {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 14px;
    background-color: #eeeeee;
    border-radius: 3px;
    height: 80px;

    [type=range] {
      display: block;
      width: 220px;
      height: 24px;
      margin: 0 auto;
    }
  }
  &__price-start, &__price-end {
    display: block;
    background-color: #eeeeee;
    width: 80px;
    height: 38px;
    border: none;
    border-radius: 3px;
    padding: 0;
    margin: 0;
    font-size: 16px;
    text-align: center;
  }

  &__grid-types {
    margin-bottom: 50px;
  }
  &__grid-type {
    display: block;
    margin-bottom: 15px;
  }

  &__features {
    margin-bottom: 50px;
  }
  &__feature {
    display: block;
    margin-bottom: 15px;
  }

  &__button {
    @include catalog-button;
    width: 100%;
  }
}

.catalog-content {
  width: 760px;

  &__sort {
    display: flex;
    margin-bottom: 58px;
  }
  &__header {
    width: 160px;
    margin-right: 240px;

    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
  }
  &__sorters {
    width: 280px;
    margin-right: 40px;
    display: flex;
    justify-content: space-between;
    user-select: none;
  }
  &__sorter {
    font-size: 14px;
    text-transform: uppercase;
    opacity: 0.3;
    cursor: pointer;
    &:hover {
      opacity: 0.6;
    }
    &:active, &--active {
      opacity: 1;
    }
  }

  &__directions {
    width: 40px;
    user-select: none;
  }
  &__direction {
    display: inline-block;
    opacity: 0.3;
    cursor: pointer;
    &:hover {
      opacity: 0.6;
    }
    &:active, &--active {
      opacity: 1;
    }

    &--desc {
      margin-right: 10px; 
    }
  }

  &__pages {
    margin-top: 60px - 33;
    display: flex;
  }

  &__page {
    @include catalog-button;
    width: 50px;
    margin-right: 11px;
  }
  &__active-page {
    width: 50px;
    height: 50px;
    margin-right: 11px;

    text-align: center;
    border-radius: 3px;
    background-color: white;
    border: 3px solid #e7e7e7;
    line-height: 50px - 6px;
  }

  &__page-next {
    @include catalog-button;
    width: 260px;
  }
}

.catalog-items {
  display: flex;
  flex-wrap: wrap;
  width: 760px;

  &__item {
    width: 360px;
    height: 616px;
    margin-bottom: 33px;
    position: relative;
    &:nth-child(even) {
      margin-left: 40px;
    }
    &:hover {
      box-shadow: 0px 6px 15px 0px rgba(0, 1, 1, 0.25); 
    }
    transition: 0.2s;
  }
  &__image {
    border: 1px solid #f1f1f1;
    width: 100%;
  }
  &__browser {
    height: 40px;
    opacity: 0.12;
    background: url('../images/browser.svg') no-repeat left top;
  }
  &__item:hover &__browser {
    opacity: 1;
  }

  &__hover {
    position: absolute;
    z-index: 1;
    display: none;
    bottom: 0;
    left: 0;
    width: 100%;
  }
  &__item:hover &__hover {
    display: block;
  }
}


.card-hover {
  width: 360px;
  height: 230px;
  background-color: #eeeeee;
  padding: 35px;

  &__title {
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
    text-align: center;
  }
  &__text {
    text-align: center;
    margin-top: 28px;
  }
  &__button {
    margin: 30px auto 0;
  }
}
/* end catalog-page */
